asgiref==3.5.0
boto3==1.21.45
botocore==1.24.45
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
Django==4.0.4
djangorestframework==3.13.1
emoji==1.7.0
Flask==2.1.2
gql==2.0.0
graphql-core==2.3.2
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.0
MarkupSafe==2.1.1
newrelic-lambda-cli==0.7.0
newrelic-telemetry-sdk==0.4.2
promise==2.3
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
Rx==1.6.1
s3transfer==0.5.2
six==1.16.0
sqlparse==0.4.2
tabulate==0.8.9
urllib3==1.26.9
Werkzeug==2.1.2
zipp==3.8.0
